<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/']">LMS</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          *ngIf="!authenticationService.currentUser"
          class="nav-link"
          [routerLink]="['/borrower']"
          >Borrower</a
        >
      </li>
      <li class="nav-item">
        <a
          *ngIf="!authenticationService.currentUser"
          class="nav-link"
          [routerLink]="['/login']"
          >Administration Login</a
        >
      </li>
      <li class="nav-item">
        <a
          *ngIf="authenticationService.currentUser"
          class="nav-link"
          (click)="logout()"
          >Logout</a
        >
      </li>
    </ul>
  </div>
</nav>
