h3 { color: white; }

table {
  border-collapse: separate;
}

thead th {
  margin: 5px;
  position: sticky;
  top: 78px;
  z-index: 1;
  background: #343A40;
  border-bottom: solid white;
}

#loansForm {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #343A40;
}

ngb-pagination ::ng-deep ul {
  margin: 0 5px 0 5px;
}
